---
const projects = [
    {
        title: "Distri Donto",
        description: "Un catálogo de ferreteria con sistema de usuarios",
        image: "./projects/distridonto.webp",
        tech: ["mongodb", "nodejs", "express", "react", "tailwind"],
        github: "",
        link: ""
    },
    {
        title: "Servicios Ya",
        description: "Una página para realizar turnos para reparación de computadoras",
        image: "./projects/serviciosya.webp",
        tech: ["mongodb", "nodejs", "express", "react"],
        github: "https://github.com/FerTorron/Sistema-de-Tickets",
        link: ""
    },
    {
        title: "Noa - Never One Alone",
        description: "Un Tinder de Videojuegos",
        image: "./projects/noa.webp",
        tech: ["postgree", "nodejs", "prisma", "react", "nextjs"],
        github: "https://github.com/FerTorron/Noa---Never-One-Alone",
        link: ""
    },
    {
        title: "ComicNest",
        description: "Un Eccomerce para la venta de Comics Digitales",
        image: "./projects/comicnest.webp",
        tech: ["mongodb", "nodejs", "express", "react"],
        github: "https://github.com/FerTorron/NoCountry-c16-65-ft-node",
        link: ""
    },
    {
        title: "Lans Accesorios",
        description: "Un Eccomerce para la venta de Accesorios de Cuero",
        image: "./projects/lans.webp",
        tech: ["mongodb", "nodejs", "express", "handlebars"],
        github: "https://github.com/FerTorron/lans-accesorios",
        link: ""
    },
    {
        title: "Melisa Guevara",
        description: "Un sitio web para mostrar un catálogo de joyas",
        image: "./projects/melisa.webp",
        tech: ["react"],
        github: "",
        link: ""
    },
    {
        title: "Cotización Argentina",
        description: "Ver el precio del dolar y el euro",
        image: "./projects/cotizacion.webp",
        tech: ["react"],
        github: "https://github.com/FerTorron/Cotizacion-Argentina",
        link: ""
    },
    {
        title: "BikeStore",
        description: "Eccomerce de Bicicletas y Accesorios",
        image: "./projects/bikestore.webp",
        tech: ["react", "firebase"],
        github: "https://github.com/FerTorron/BikeStore",
        link: ""
    },
    {
        title: "MotorStore",
        description: "Eccomerce de Motocicletas y Accesorios",
        image: "./projects/motorstore.webp",
        tech: ["html", "css", "js"],
        github: "https://github.com/FerTorron/MotorStore",
        link: ""
    },
    {
        title: "Ciudad ITA",
        description: "Guía para realizar tu Ciudadanía Italiana",
        image: "./projects/ciudadita.webp",
        tech: ["html", "css", "js", "bootstrap"],
        github: "https://github.com/FerTorron/CiudadITA",
        link: ""
    }
];
---

<div class="w-[100%] mt-[100px] flex items-center justify-between px-[147px]">
    <div class="flex items-start justify-center flex-col gap-[50px]">
        <span class="text-[2.5rem] text-[#EFF5FF]  font-bold flex items-center gap-3 justify-center"><img class="w-[35px] h-[35px]" src="./code.svg" alt="Icono de Codigo"> Proyectos</span>
    <div class="flex items-center justify-start gap-[50px] w-[100%] flex-wrap">
      {projects.map((project) => (
        <div class="w-[100%] md:w-[45%] h-[480px] relative gap-[10px] px-[50px] py-[30px] flex items-start flex-col bg-[#9AB6FF] border-[#9AB6FF] border-[1px] bg-opacity-[30%] rounded-[20px] shadow-[rgba(0,0,0,0.25)_3px_5px]">
          <span class="text-[1.8rem] font-bold text-[#f0f6ff]">{project.title}</span>
          <img class="w-full h-[250px] object-center object-cover" src={project.image} alt={`Captura de pantalla del proyecto ${project.title}`} />
          <p class="text-[1.2rem] text-[#EFF5FF] font-normal">{project.description}</p>
          <div class="flex items-start justify-center gap-[10px] mt-[10px]">
            {project.tech.map((tech) => (
              <img class="w-[30px] h-[33px]" src={`./icons/${tech}.png`} alt={`Logo de ${tech}`} />
            ))}
          </div>
          <div class="flex items-center justify-center absolute bottom-[20px] right-[20px] gap-[10px]">
            <a target="_blank" href={project.github}><img class="w-[35px] h-[35px]" src="./github.svg" alt="Icono de Github" /></a>
            <a target="_blank" href={project.link}><img class="w-[35px] h-[35px]" src="./link.svg" alt="Icono de Link" /></a>
          </div>
        </div>
      ))}
    </div>
    </div>
</div>
